<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nirmalya.irms">
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.nirmalya.irms.Osssc"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:fullBackupContent="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name="com.nirmalya.irms.activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.nirmalya.irms.activity.ForgetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.nirmalya.irms.activity.SetNewpinactivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.nirmalya.irms.activity.Home_Scanner"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.nirmalya.irms.activity.MainActivity" />
        <activity android:name="com.nirmalya.irms.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.nirmalya.irms.activity.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.nirmalya.irms.activity.OtpActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.nirmalya.irms.activity.NumberVerifActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.nirmalya.irms.activity.DashbordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.nirmalya.irms.activity.ScanQrCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activity.ChangePinActivity" />
        <activity android:name=".activity.CandidateListActivity" />
    </application>

</manifest>